/* FONTS */
@import 'https://fonts.googleapis.com/css?family=Rubik';

section h1, h2, h3, h4, p, a, button {
	font-family: 'Rubik', sans-serif;
}

/* SECTIONS */
body {
	margin: 0;
}

section {
	padding: 1em;
}

div.fullscreen-flasher {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	background-color: #E70E02;
	opacity: 0.7;
	display: none;
}

section.banner-top {
	position: absolute;
	width: 100%;
	height: 20px;
	/*padding: 2px;*/
}

	section.banner-top p {
		margin: 0;
	}

section.welcome {
	height: 100vh;
	color: #fff;
	text-align: center;
	background-color: #F46036;
}

section.main {
	height: 100vh;
}

	section.main div.questionContainer {
		text-align: center;
	}

		section.main div.questionContainer div.originalWord {
			padding: 3em;
		}

		section.main div.questionContainer div.responseChoices ul {
			padding: 1em;
			list-style: none;
		}

			section.main div.questionContainer div.responseChoices ul li {
				padding: 1em;
				cursor: pointer;
			}

			section.main div.questionContainer div.responseChoices ul li:hover {
				color: #F46036;
			}

/* MODS */

.BTN-START {
	display: none;
	outline: 0;
}

.btn-primary {
	background-color: transparent;
	border: 4px solid #c74e2b;
	margin-top: 1em;
	margin-bottom: 1em;
}